<ion-view class="app-background">
	<ion-content padding="false" class="" scroll="false">
		<div class="simple-padding">
        <h3 class="light-text-center">Welcome Back</h3>
		<h4 class="light-text-center">{{list.userInfo.firstname | uppercase}}!</h4>		
        <div class="light-text-center">
			Here is the latest from your listings below
        </div>
		</div>
		<div class="list card transparent translucent">
            <div class="item item-divider light-text custom-gray">Today</div>
            <div class="item item-body custom-gray">
			<div class="light-text">4 new leads from Eastside Layton Home and Pool House in Kaysville</div>
			</div>
        </div>
		<div class="list card transparent translucent">
            <div class="item item-divider light-text custom-gray">This week</div>
            <div class="item item-body custom-gray">
			<div class="light-text">18 new leads from 6 different listings</div>
			</div>
        </div>
		<div class="list card transparent translucent">
            <div class="item item-divider light-text custom-gray">Activity</div>
            <div class="item item-body custom-gray">
			<div class="light-text">You created 3 new listings</div>
			</div>
        </div>
	</ion-content>
</ion-view>