<ion-view class="app-background">
	<ion-content padding="false" class="" scroll="false">
		<div class="simple-padding">
        <h3 class="light-text-center">Welcome Back</h3>
		<h4 class="light-text-center">John</h4>		
        <div class="light-text-center">
			Here is the latest from your listings below
        </div>
		</div>
		<div class="list card transparent">
            <div class="item item-divider translucent">To be replaced</div>
            <div class="item item-body translucent">
			<div>ABC</div>
			<div>ABC</div>
			<div>ABC</div>
			</div>
        </div>
		<div class="list card transparent">
            <div class="item item-divider translucent">To be replaced</div>
            <div class="item item-body translucent">
			<div>ABC</div>
			<div>ABC</div>
			</div>
        </div>
		<div class="list card transparent">
            <div class="item item-divider translucent">To be replaced</div>
            <div class="item item-body translucent">
			<div>ABC</div>
			</div>
        </div>
	</ion-content>
</ion-view>