<ion-view id="page5" class="app-background">
    <ion-content padding="false" class="" scroll="false">
	<div class="simple-padding">
		<div class="user-confirmation-intro">
        <h3 class="light-text-center">Confirm Details</h3>
		<div class="h_line"></div>
        <div class="light-text-center">
            <p>Confirm your details and start creating your free listing now</p>
        </div>
		</div>
        <div class="list card">
            <div class="item item-divider">To be replaced</div>
            <div class="item item-body">
			<div>ABC</div>
			<div>ABC</div>
			<div>ABC</div>
			</div>
        </div>
		<div class="row user-confirmation-save">
        <div class="col col-10"></div>
        <div class="col">
            <a href="#/home/listings" id="userConfirmation-button7" class="button button-assertive  button-block">Save and create my FREE listing</a>
        </div>
        <div class="col col-10"></div>
		</div>
	</div>
    </ion-content>
</ion-view>