/*

  This styles are specific to this sample project

*/

.welcome-wrapper {
	padding: 50px 10px 0px;
}

.text-center {
	text-align:center;
}

.dark-text {
	color:#000000;
}

.light-text {
	color:#FFFFFF;
}

.dark-text-center {
	@extend .text-center;
	@extend .dark-text;
}

.light-text-center {
	@extend .text-center;
	@extend .light-text;
}

.h_line {
	width:60%;
	height:1px;
	background: #fff;
	margin: 1em auto;
}

.app-header {
	@extend .dark-text-center;
	font-weight:400;
}

.simple-padding {
	padding : 15px;
}

.welcome-entry-block {
	margin-top : 150px !important
}

.app-background {
	background-color:#226E70;
}

.signup-intro {
	@extend .simple-padding;
}

.signup-form-first {
	margin-top: 40%;
	background-color : #FFFFFF;
	height:100%;
}
.signup-form-second {
	margin-top: 20%;
	background-color : #FFFFFF;
	height:100%;
}
.user-confirmation-intro{
	margin-top:50px !important;
	padding: 0 10px;
}
.user-confirmation-save {
	margin-top : 60%;
}

.error-container {
  margin: 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-size: 11px;
  text-transform: uppercase;
  color: #000;
  vertical-align: middle;
}
 
.error i {
  font-size: 18px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 2px solid #B83E2C;
}
 
.no-errors {
  border-right: 3px solid green;
  border-left: 3px solid green;
}
.translucent {
	opacity : 0.6;
}
.transparent {
	background-color:transparent;
}
.custom-gray {
	background-color:#B4B7B8;
}