      <ion-view class="app-background">
        <ion-tabs class="tabs-icon-top tabs-light">

          <ion-tab title="Activity" icon="ion-ios-pulse" href="#/home/activity">
            <ion-nav-view name="activity-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Listings" icon="ion-ios-list-outline assertive" href="#/home/listings">
            <ion-nav-view name="listings-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="" icon="ion-plus-round" href="#/home/add">
            <ion-nav-view name="add-tab"></ion-nav-view>
          </ion-tab>
		  
		  <ion-tab title="Settings" icon="ion-settings" href="#/home/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
          </ion-tab>
		  
		  <ion-tab title="Feedback" icon="ion-ios-chatbubble-outline" href="#/home/feedback">
            <ion-nav-view name="feedback-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
      </ion-view>