<ion-view id="page5" class="app-background">
    <ion-content padding="false" class="" scroll="false">
	<div class="simple-padding">
		<div class="user-confirmation-intro">
        <h3 class="light-text-center">Confirm Details</h3>
		<div class="h_line"></div>
        <div class="light-text-center">
            <p>Confirm your details and start creating your free listing now</p>
        </div>
		</div>
        <div class="list card">
            <div class="item item-divider">{{userconfirm.formDetails.firstname}} {{userconfirm.formDetails.lastname}}</div>
            <div class="item item-body">
			<!--<div ng-repeat="(key,value) in userconfirm.formDetails" ng-if="value">{{value}}</div>-->
			<div><i class="icon ion-ios-telephone"></i> {{userconfirm.formDetails.mobileno}}</div>
			<div><i class="icon ion-ios-email-outline"></i> {{userconfirm.formDetails.emailaddress}}</div>
			<div ng-if="userconfirm.formDetails.agency"><i class="icon ion-ios-briefcase"></i> {{userconfirm.formDetails.agency}}</div>
			<div ng-if="userconfirm.formDetails.state"><i class="icon ion-ios-location"></i> {{userconfirm.formDetails.state}}</div>
			</div>
        </div>
		<div class="row user-confirmation-save">
        <div class="col col-10"></div>
        <div class="col">
			<button class="button button-assertive button-block" ng-click="userconfirm.submit()">Save and create my FREE listing</button>
            <!--<a href="#/home/listings" class="button button-assertive  button-block"></a>-->
        </div>
        <div class="col col-10"></div>
		</div>
	</div>
    </ion-content>
</ion-view>